{% include "header.html" %}

<div class="g">
<div class="g-row">

{% include "menu.html" %}


<h3>Заявки ТМЦ</h3>


<ul class="f-nav f-nav-tabs">
	<li><a href="/tmc?mark=common">Сибтранстелеком</a></li>
	<li><a href="/tmc?mark=auto">Автотранспорт(Сиб)</a></li>
	<li><a href="/tmc?mark=it">IT(Сиб)</a></li>
	<li><a href="/tmc?mark=tron">МР Сибирь</a></li>
	<li><a href="/tmc?mark=baykal">МР Байкал</a></li>	
	<li class="active"><a href="/tmcorderlist">Внутренний заказ</a></li>
	<li><a href="/tmcreports">Отчеты</a></li>
	<li><a href="/tmcopt">Настройки</a></li>
</ul><!-- f-nav f-nav-tabs -->


<h3>Внутренние заказы</h3>

<p>
<a href="/tmcordernew"><mark>Создать<mark></a>
</p>

<center>
    <form action="" method="post" class="f-horizontal">{% csrf_token %}
    <div class="f-row">
	    {{ form.search.label }}
	    {{ form.search }}
	<button type="submit" class="f-bu">Искать</button>
    </div><!-- f-row -->
    </form>

</center>


{# Вывод страниц #}
<div class="paginator">
    <span class="step-links">
	{% if data.has_previous %}
	    <a href="?page={{ data.previous_page_number }}">Предыдущая</a>
	{% endif %}

    <span class="current">
	Стр. {{ data.number }} из {{ data.paginator.num_pages }}
    </span>

	{% if data.has_next %}
	    <a href="?page={{ data.next_page_number }}">Следующая</a>
	{% endif %}
    </span>
</div><!-- paginator -->



<table>
    <caption></caption>
    <thead>
	<tr>
	    <th></th>
	    <th>Номер</th>
	    <th>Дата</th>
	    <th>ТМЦ</th>
	    <th>Тема</th>
	    <th>Проект</th>
	    <th>Исполнитель<br>(телефон)</th>
	    <th>Получатель<br>(телефон)</th>
	</tr>
    </thead>
    <tbody>
	{% for row in data %}
	<tr>
	    <td><a href="/tmcorderprint/?order_id={{ row.0 }}" style="color:brown;"><i class="fa fa-print">&nbsp;&#9997;</i></a></td>
	    <td><a href="/tmcorderspec/?order_id={{ row.0 }}" style="color:brown;">{{ row.0 }}</a></td>
	    <td><a href="/tmcorderspec/?order_id={{ row.0 }}" style="color:brown;">{{ row.1 }}</a></td>
	    <td><a href="/tmcorderspec/?order_id={{ row.0 }}" style="color:brown;">{{ row.2 }} от {{ row.3 }}</a></td>
	    <td><a href="/tmcorderspec/?order_id={{ row.0 }}" style="color:brown;">{{ row.4 }}</a></td>
	    <td><a href="/tmcorderspec/?order_id={{ row.0 }}" style="color:brown;">{{ row.6 }}</a></td>
	    <td><a href="/tmcorderspec/?order_id={{ row.0 }}" style="color:brown;">{{ row.11 }} {{ row.10 }} ({{ row.13 }})</a></td>
	    <td><a href="/tmcorderspec/?order_id={{ row.0 }}" style="color:brown;">{{ row.15 }} {{ row.14 }} ({{ row.17 }})</a></td>
	</tr>
	{% endfor%}
    </tbody>
</table>




{# Вывод страниц #}
<div class="paginator">
    <span class="step-links">
	{% if data.has_previous %}
	    <a href="?page={{ data.previous_page_number }}">Предыдущая</a>
	{% endif %}

    <span class="current">
	Стр. {{ data.number }} из {{ data.paginator.num_pages }}
    </span>

	{% if data.has_next %}
	    <a href="?page={{ data.next_page_number }}">Следующая</a>
	{% endif %}
    </span>
</div><!-- paginator -->




</div><!-- g-row -->
</div><!-- g -->
