{% include "header.html" %}

<div class="g">
<div class="g-row">

{% include "menu.html" %}

	<br>


<ul class="f-nav f-nav-tabs">
	<li><a href="/tmc">Список заявок</a></li>
	<li class="active"><a href="/proj">Материалы проектов</a></li>
</ul><!-- f-nav f-nav-tabs -->





<center>
    <form action="" method="post" class="forms">{% csrf_token %}
	<fieldset>
	    <div class="f-row">
		<label>{{ form.project.label }}</label>
		<div class="f-input">{{ form.project }}</div>
	    </div><!-- f-row -->
	    <div class="f-row">
		<label>{{ form.status.label }}</label>
		<div class="f-input">{{ form.status }}</div>
	    </div><!-- f-row -->
	    <div class="f-row">
		<label>{{ form.search.label }}</label>
		<div class="f-input">{{ form.search }}</div>
	    </div><!-- f-row -->
	</fieldset>
	<div class="f-actions"><button type="submit" class="f-bu">Искать</button></div>
    </form>

</center>


{% comment %}
<center>
    <form action="" method="post" class="f-horizontal">{% csrf_token %}
    <div class="f-row">
	    {{ form.search.label }}
	    {{ form.search }}
	<button type="submit" class="f-bu">Искать</button>
    </div><!-- f-row -->
    </form>

</center>
{% endcomment %}


{# Вывод страниц #}
<div class="paginator">
    <span class="step-links">
	{% if data.has_previous %}
	    <a href="?page={{ data.previous_page_number }}">Предыдущая</a>
	{% endif %}

    <span class="current">
	Стр. {{ data.number }} из {{ data.paginator.num_pages }}
    </span>

	{% if data.has_next %}
	    <a href="?page={{ data.next_page_number }}">Следующая</a>
	{% endif %}
    </span>
</div><!-- paginator -->



<table>
    <caption></caption>
    <thead>
	<tr>
	    <th>Номер<br>заявки</th>
	    <th>Статус<br>заявки</th>
	    <th>Тема<br>заявки</th>
	    <th>Проект</th>
	    <th>Наименование, марка,<br>Технические характеристики</th>
	    <th>Ед.изм.</th>
	    <th>Кол-во</th>
	    <th>Ориентировочная<br>цена (руб.)</th>
		<th>Статус</th>
	</tr>
    </thead>
    <tbody>
	{% for row in data %}
	<tr>
	    <td><a href="/tmcdata/?tmc_id={{ row.1 }}" style="color: {{ row.22 }};">{{ row.1 }}</a></td>
	    <td><a href="/tmcdata/?tmc_id={{ row.1 }}" style="color: {{ row.22 }};">{{ row.3 }}</a></td>
	    <td><a href="/tmcdata/?tmc_id={{ row.1 }}" style="color: {{ row.22 }};">{{ row.2 }}</a></td>
	    <td><a href="/tmcdata/?tmc_id={{ row.1 }}" style="color: {{ row.22 }};">{{ row.11 }}<br>{{ row.12 }}</a></td>
	    <td><a href="/tmcdata/?tmc_id={{ row.1 }}" style="color: {{ row.22 }};">{{ row.4 }}</a></td>
	    <td><a href="/tmcdata/?tmc_id={{ row.1 }}" style="color: {{ row.22 }};">{{ row.5 }}<br>{{ row.25 }}</a></td>
	    <td><a href="/tmcdata/?tmc_id={{ row.1 }}" style="color: {{ row.22 }};">{{ row.6 }}</a></td>
	    <td><a href="/tmcdata/?tmc_id={{ row.1 }}" style="color: {{ row.22 }};">{{ row.7 }}</a></td>
	    <td><a href="/tmcdata/?tmc_id={{ row.1 }}" style="color: {{ row.22 }};">{{ row.8 }}</a></td>
	</tr>
	{% endfor%}
    </tbody>
</table>

{# Вывод страниц #}
<div class="paginator">
    <span class="step-links">
	{% if data.has_previous %}
	    <a href="?page={{ data.previous_page_number }}">Предыдущая</a>
	{% endif %}

    <span class="current">
	Стр. {{ data.number }} из {{ data.paginator.num_pages }}
    </span>

	{% if data.has_next %}
	    <a href="?page={{ data.next_page_number }}">Следующая</a>
	{% endif %}
    </span>
</div><!-- paginator -->



</div><!-- g-row -->
</div><!-- g -->
