{% include "header.html" %}

<div class="g">
<div class="g-row">

{% include "menu.html" %}


<h3>Заявка ТМЦ номер {{ d.0 }} от {{ d.2 }}</h3>

<b>Текстовое описание:</b> {{ d.4 }}<br>
<b>Тема:</b> {{ d.3 }}<br>
<b>Статус:</b> {{ d.6 }}<br>
<b>Исполнитель (телефон):</b> {{ d.10 }} {{ d.9 }} ({{ d.12 }})<br>
<b>Руководитель:</b> {{ d.17 }} {{ d.16 }}<br>
<b>Шифр затрат:</b> {{ d.23 }}<br>
<br>


{% include "tmc/last_status.html" %}



<ul class="f-nav f-nav-tabs">
	<li><a href="/tmcdata">Состав заявки</a></li>
	<li><a href="/tmcdata2">Документы</a></li>
	<li><a href="/tmcdata3">Статусы</a></li>
	<li><a href="/tmcdata4">История Email уведомлений</a></li>
	<li class="active"><a href="/tmcdata5">Email руководителю</a></li>
	<li><a href="/tmcdata6">История изменения группы</a></li>
	<li><a href="/tmcdata7">Шифр затрат</a></li>
</ul><!-- f-nav f-nav-tabs -->


<h3>Отправка запроса подписи заявки</h3>


<center>
    <form action="" method="post" class="forms">{% csrf_token %}
	<fieldset>
	    <legend>
	    </legend>
	    <div class="f-row">
		<label>{{ form.email.label }}</label>
		<div class="f-input">{{ form.email }}</div>
	    </div><!-- f-row -->
	<div class="f-actions"><button type="submit" class="f-bu">Отправить</button></div>
    </form>

</center>



</div><!-- g-row -->
</div><!-- g -->
